body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
 color: #00B7FF; 
}

.position{
	text-align: center;
}

.posinput{
	margin-bottom: 20px;
}

.postext{
	margin-bottom: 1px;
}

.form-control{
	width: 47%;
	display: inline;
}
.boxadd{
	width: 170px;
}

.slash{
	display: inline;
	font-weight: 300;
	font-size: 25px;
}

.posbtntakephoto{
	margin-top: -20px;
}

.btnbottom{
	width: 100px;
	margin-top: 50px;
}

.box{
	width: 120px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}