<!DOCTYPE html>
<html ng-app="monitorApp">

<head>
    <meta charset="UTF-8">
    <title>ระบบลงทะเบียน หมู่บ้าน</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="javascripts/monitor_ctrl.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.ui.core.js" type="text/javascript"></script>
    <script src="javascripts/jquery.ui.datepicker.js" type="text/javascript"></script>
    <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" /> <!-- Main stylesheet /-->

</head>

<body>
    <div class="container">
    <h1 class="test">Monitor</h1>

    <a href="/admin_logout">Logout</a>
    
    </br>
    </br>
    <div ng-controller="monitorController">
    
        <label>ค้นหา :<input class="form-control box" ng-model="search.$"></label>
        <label>ค้นหาด้วยทะเบียนรถ :<input class="form-control box" ng-model="search.license"></label>
        <label>ค้นหาด้วยป้อม :<select class="form-control box" ng-model="categorie" ng-options="categorie for categorie in categories"></select></label>
        <!--<label>ค้นหาด้วยทะเบียนบ้าน :<input ng-model="search.address"></label>-->

        <label>ค้นหาด้วยวันที่ :<input class="form-control box" id="abc" ng-model="date"></label>
        <button class="btn btn-default" ng-click="getDate()">ค้นหา</button>
        <button class="btn btn-default" ng-click="reset()">รีเซ็ต</button>
        <br><br>
        <td>
            <table>
                <tr>
                    <th>เลขที่บัตร</th>
                    <th>ทะเบียนรถ</th>
                    <th>บ้านเลขที่</th>

                    <!--<th>prefix</th>
                    <th>suffix</th>-->
                    <th>วัน</th>
                    <th>เวลา</th>
                    <th>โดย</th>
                    <th>ตรวจสอบข้อมูล</th>

                </tr>
                <tr ng-repeat="item in data | filter:search | filter:date | filter:categorie">
                    <td>{{item.number}}</td>
                    <td>{{item.license}}</td>
                    <!--<td>{{item.prefix}}</td>-->
                    <td>{{item.address}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.by}}</td>
                    <td><button data-toggle="modal" data-target="#myModal" ng-click="view(item._id)" class="btn btn-default">view</button></td>
                </tr>
            </table>
        </td>



        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">ตรวจสอบข้อมูล</h4>
                    </div>
                    <div class="modal-body">
                        เลขที่บัตร : {{info.number}}
                        </br>
                        </br>
                        ทะเบียนรถ : {{info.license}}
                        </br>
                        </br>
                        บ้านเลขที่ : {{info.address}}
                        </br>
                        </br>
                        วันที่ : {{info.date}}
                        </br>
                        </br>
                        เวลา : {{info.time}}
                        </br>
                        </br>
                        โดย : {{info.by}}
                        </br>
                        </br>
                        <img class="img-responsive" ng-repeat="item in info.img" data-ng-src="data:image/png;base64,{{(item.name).slice(1, -1)}}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript">
	
		</script>
    </div>
</body>

</html>