<!DOCTYPE html>
<html ng-app="regisApp">

<head>
  <meta charset="UTF-8">
  <title>ระบบลงทะเบียน หมู่บ้าน</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="javascripts/regis_ctrl.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="main.css" type="text/css" media="all">

 <link rel="stylesheet" type="text/css" href="stylesheets/style.css" /> <!-- Main stylesheet /-->

</head>

<body>
  <div class="container position">
    <a href="/user_logout">Logout</a>
  <h1>ระบบลงทะเบียน หมู่บ้าน</h1>
  </br>

  <div ng-controller="regisController">

    <form name="regisForm" style="text-align: left; padding-left: 392px;">
       <div class="posinput"><p class="postext"><b>เลขที่บัตร : </b></p><input class="stylebox form-control" type="number" ng-model="number" name="cardNumber" ></div>

       <div class="posinput"><p class="postext"><b>ทะเบียนรถ : </b></p><input class="form-control" type="number" ng-model="license" name="license" ></div>
       <div class="posinput"><p class="postext"><b>บ้านเลขที่ : </b></p><input class="form-control boxadd" type="number" ng-model="prefix" name="prefix"> 
                                                                     <p class="slash">/</p>
                                                                     <input type="number" class="form-control boxadd" ng-model="suffix" name="suffix"></div>
     
    </form>

    <div class="contentarea">
      <div class="camera">
        <video class="form-control" id="video">Video stream not available.</video>
        <button id="startbutton" ng-click="" class="btn btn-default posbtntakephoto">Take photo</button>
      </div>
      <canvas id="canvas">
      </canvas>
      </br>
    </div>

    </br>
    </br>
    </br>
    
    <div>
      <td>
        <table align="center" style="margin-bottom: 30px;">
          <tr>
            <th></th>
          </tr>
          <tr  ng-repeat="photo in album">
            <td><img width="320" ng-src="{{photo}}"></td>
            <td><button class="btn btn-default" ng-click="delete(photo)" style="margin-left: 20px;">ลบ</button></td>
          </tr>
        </table>
      </td>

    </div>
    <div>
      <button class="btn btn-default btnbottom" ng-click="reset()">รีเซ็ต</button>
      <button class="btn btn-default btnbottom" type="button" data-toggle="modal" data-target="#myModal">บันทึก</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">ตรวจสอบข้อมูล</h4>
          </div>
          <div class="modal-body">
            เลขที่บัตร : {{number}}
            </br>
            </br>
            ทะเบียนรถ : {{license}}
            </br>
            </br>
            บ้านเลขที่ : {{prefix}} / {{suffix}}
            </br>
            </br>
            <img width="320" ng-repeat="photo in album" ng-src="{{photo}}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="save()">บันทึก</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
          </div>
        </div>

      </div>
    </div>
    </br>

  </div>

</div>

<script src="javascripts/capture.js"></script>
</body>

</html>